<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Courses</title>
	<link rel="stylesheet" type="text/css" href="/css/courses.css">
</head>
<body>
	<div class="main">
		<div class="menu">
			<div class="menu-header">
				<h3>Learning</h3>
			</div>
			<div class="menu-body">
				<ul>
					<li></li>
					<li><a href="/profile">Profile</a></li>
					<li id="learn"><a href="/courses">Courses</a></li>
					<li><a href="/my-courses">My Courses</a></li>
					<li><a href="/exam">Exam</a></li>
					<li><a href="/result">Result</a></li>
					<li><a href="/project">Project</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/certification">Certification</a></li>
					<li><a href="/upgrade">Upgrade Acc.</a></li>
					<p><em>By SHADOW WALKER</em></p>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="content-header">
				<h3><em>THE LEARNING CATEGORY</em></h3>
			</div>
			<div class="content-body">
				<div>
					<h3 style="width: 120px;word-wrap: break-word;">LANGUAGE</h3>
					<div><p>Scripting</p></div>
					<div><p>Mark-Up</p></div>
					<div><p>Programming</p></div>
					<div><p>Libraries</p></div>
				</div>
				<div>
					<h3 style="width: 120px;">SCIENCE</h3>
					<div><p>Physical</p></div>
					<div><p>Technology</p></div>
					<div><p>Life</p></div>
					<div><p>Telecom.</p></div>
				</div>
				<div>
					<h3 style="width: 120px;">DATA SCIENCE</h3>
					<div><p>Statistics</p></div>
					<div><p>Analysis</p></div>
					<div><p>Machine Learning</p></div>
					<div><p>A.I</p></div>
				</div>
			</div>
			<div class="content-footer">
				<h3><em><marquee>Kindly Try to Upgrade Your Account To Enjoy the Full/Complete Features Of The Platform</marquee></em></h3>
			</div>
		</div>
	</div>
</body>
</html>