<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>LOGIN</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<center>
	<div class="content-container">
		<h2><em>NEW WORLD's PLATFORM</em></h2>
		<form class="login-form">
			<div>
				<h3>Username:</h3>
				<input id="username" type="text" name="" required>
			</div>
			
			<div>
				<h3>Password:</h3>
				<input id="password" type="password" name="" required>
			</div>
			
			<br>
			<div>
				<input type="submit" name="" value="Login">
			</div>
		</form>
		<br>
		<p>Not Registered Yet ? Register <a href="/register"><strong>here</strong></a></p>
	</div>
	</center>
	<div class="footer">
        <div class="container">
            Proudly powered by <br>
            <i class="companyname">SHADOW WALKER</i>
        </div>
    </div>
    <script type="text/javascript" src="/lib/jquery@3.4.1.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>