<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>REGISTER</title>
	<link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
	<center>
	<div class="content-container">
		<h2><em>NEW WORLD's PLATFORM</em></h2>
		<form class="register">
			<div>
				<h3>Name:</h3>
				<input id="name" type="text" name="" required>
			</div>
			<div>
				<h3>Email:</h3>
				<input id="email" type="email" name="" required>
			</div>
			<div>
				<h3>Username:</h3>
				<input id="username" type="text" name="" required>
			</div>
		
			<div>
				<h3>Password:</h3>
				<input id="password" type="password" name="" required>
			</div>
			<div>
				<h3>Confirm Password:</h3>
				<input id="cPassword" type="password" name="" required>
			</div>
			
			<br>
			<div>
				<input type="submit" name="" value="Register">
			</div>
		</form>
		<br>
		
		<p>Already Registered? Login <a href="/login"><strong>here</strong></a></p>
	</div>
	</center>
	<div class="footer">
        <div class="container">
            Proudly powered by <br>
            <i class="companyname">SHADOW WALKER</i>
        </div>
    </div>
    <script type="text/javascript" src="/lib/jquery@3.4.1.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
</body>
</html>