body {
	background-image: url(/images/nature.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.content-container {
	margin-top: 8%;
	margin-bottom: 8%;
	background-color: rgba(255, 255, 255, 0.3);
	width: auto;
	max-width: 400px;
	border-radius: 15px;
	padding: 17px;
	height: auto;
	color: #000;
	box-shadow: 0px 0px 10px 7px #000;
}
form {
	max-width: 80%;
}
form div {
	color: #000;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 7px;
	box-shadow: 0px 0px 10px 7px #ffffff;
	padding: 4px;
}
form div input {
	height: 30px;
	border-radius: 8px;
	color: #000;
	text-align: center;
}
a {
	color: #000;
	text-decoration: none;
}
.companyname{
             font-size:30px;
             font-family:cursive;
             font-style:italic;
             margin-top: 30px;
         }
.footer{
            position: relative;
            botom: 20px;
            right: 0;
            width: 100%;
            color: #000;
            z-index: 4;
            text-align: right;
            margin-top: 50px;
        }
.footer a{
            color: #FFFFFF;
        }
@media (min-width :991px){
        	.footer{
        		position: fixed;
        		bottom: 20px;
        	}
        }